<head>
    <meta charset="utf-8">
    <meta name="viewport">
    <title>Coding Is Great!</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="author" href="humans.txt">
</head>

<body>
    <ul class="navigation">
        <li class="nav-item"><a href="index.html#overview">Overview</a></li>
        <li class="nav-item"><a href="index.html#html">Html</a></li>
        <li class="nav-item"><a href="index.html#css">Css</a></li>
        <li class="nav-item"><a href="index.html#js">Javascript</a></li>
        <li class="nav-item"><a href="index.html#contact">Contact</a></li>
    </ul>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>

    <div class="site-wrap">
        <header id="top" class="main-header">
            <span class="title">Should you do it?</span>
            <h1>Coding</h1>
        </header>

        <div class="overB">
            <div id="overview">
                <h1>Overview</h1>
                <h3>I started coding in freshman year and I am currently ending my sophomore year. Coding is essentially instructions written by a programmer in different programming languages. Coding has always been fun but at the same type it has been challenging (because of errors you may make in code). If you want to code you should do it because it is a great way to express your artistic talent. This website is to get people interested in coding. I have listed a few languages in coding, CHECK IT OUT!</h3>
            </div>
        </div>

        <div class="htmlB">
            <div id="html">
                <h1>Html</h1>
                <h3>Hypertext Markup Language, a standardized system for tagging text files to achieve font, color, graphic, and hyperlink effects on World Wide Web pages.</h3>
                <img class="htmlBpic" src="img/htmlB.png">
                <h1>What it looks like</h1>
                <h3>HTML in my opinion is the backbone of any website. It is where you put the resources (pictures and text).</h3>
                <img class="htmlCode" src="img/htmlcode.png">
            </div>
        </div>

        <div class="cssB">
            <div id="css">
                <h1>Css</h1>
                <h3>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language.</h3>
                <img class="cssBpic" src="img/cssB.png">
                <h1>What it looks like</h1>
                <h3>You can use css for colors and size of stuff in your website. Like the color of text or the color of the background of the website. You can change the size of pictures with css.</h3>
                <img class="cssCode" src="img/csscode.jpg">
            </div>
        </div>

        <div class="jsB">
            <div id="js">
                <h1>Javascript</h1>
                <h3>an object-oriented computer programming language commonly used to create interactive effects within web browsers.</h3>
            </div>
            <img class="jsBpic" src="img/jsB.png">
            <h1>What it looks like</h1>
            <h3>java script is essentially used for making the website clean and to add cool effects.</h3>
            <img class="jsCode" src="img/jscode.png">
        </div>

        <div class="food">

            <div id="contact">
                <h1>Contact</h1>
                <form class="form-horizontal" role="form" method="post" action="index.php">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="4" name="message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <!-- Will be used to display an alert to the user -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>